body{
    background-color: white;
}

html{
    font-family: 'Montserrat', sans-serif;
}

main {
    background-color: #758E4F;
    border: 1px solid #000;
    border-radius: 10px;
    width: 85%;
    max-width: 900px;
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact--title {
    text-align: center;
    color: #F6AE2D;
    font-size: 2rem;
    margin: 0;
    text-shadow: 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.contact--subtitle {
    color: #FFFFFF;
    font-size: 1rem;
    width: 85%;
    align-self: center;
    text-align: center;
}

.contact--div {
    display: flex;
    justify-content: space-around;
}

.contact--img{
    height: 150px;
    align-self: center;
}

.contact--form {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 500px;
}

.contact--form label {
    margin-bottom: 10px;
    font-size: 1rem;
}

.contact--form input, textarea{
    margin-bottom: 25px;
    border: 1px solid #000;
    border-radius: 3.5px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.contact--button {
    background-color: #F6AE2D;
    border-radius: 5px;
    width: min-content;
    align-self: center;
}

.contact--button:hover {
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .contact--img{
        display: none;
        
    }
    .contact--div {
        justify-content: center;
    }

    .contact--form{
        width: 80%;
    }
}