header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F26419;
    padding: 0 1.5rem;
    z-index: 3;
    position: sticky;
    top: 0;
}

.logo{
   width: 12rem;
   margin-top: 0.2rem;
   overflow: hidden;
}

.nav-list{
    display: flex;
    list-style: none;
    gap: 3rem;
    align-items: center;
    margin: 0;
}
.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}
.nav-list li a:hover{
    color: #F6AE2D;
}
.abrir-menu,
.cerrar-menu{
    display: none;
}
@media only screen and (max-width: 708px){
    header{
        padding: 0 0.9rem;
    }
    .logo{
        max-width: 8rem;
    }
    .abrir-menu,
    .cerrar-menu{
        display: block;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        color: white;
    }
    .cerrar-menu img {
        height: 20px;
        margin-top: -5px;
    }
    .nav{
        display: none; 
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1.5rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #F26419;
        padding: 1rem 1rem 1rem 0;
        z-index: 3;
        border-radius: 0 10px;
        box-shadow: 0 3px #ffffff;
    }
    .nav.visible{
        opacity: 1;
        visibility: visible;
    }
    .nav-list{
        flex-direction: column;
        align-items: end;
        gap: 1.5rem;
        padding-left: 0.9rem;
    }
    .nav-list li a{
        font-size: 1em;
    }
}

/*-------------footer---------*/
footer{
    background-color: #F6AE2D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
footer p{
    margin: 0 5px;
    color: #000000;
}
.social-pages {
    display: flex;
    gap: 15px;
    margin-right: 5px;
}

.social{
    width: 35px;
}

@media screen and (max-width: 708px){
    footer{
        padding: 7px;
    }
    footer p{
        margin: 0;
        font-size: 0.6rem;
        padding: 0 5px;    
    }
    .social-pages{
        margin-right: 3px;
    }
    .social-pages a {
        display: flex;
    }
    .social{
        width: 25px;
        margin: auto;
        background-color: #F6AE2D;
    }

}