*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
}

.piano-title {
    margin: 50px;
    text-align: center;
    color: #F6AE2D;
    font-size: 2rem;
    text-shadow: 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}


/*Piano*/

.piano{
    display: flex;
    margin: 50px;
    box-shadow: 0 0 7px #000;
    overflow: hidden;
    position: fixed;
}

/* .tecla{
    position: absolute;
} */

.key {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

.key:hover{
    cursor: pointer;
}
.key:active{
    background-color: #F6AE2D;
    transform: translateY(-5px) scaleY(1);
}
.key.playing {
    background-color: #F6AE2D;
  }
.white{
    width: 50px;
    height: 200px;
    background-color: #FFFFFF;
    border: 1px solid #000;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    transition: border .5s ease;    
}

.black{
    width: 30px;
    height: 120px;
    background-color: #000000;
    border: 1px solid #000;
    border-radius: 0 0 5px 5px;
    position: absolute;
    cursor: pointer;
    color: #fff;
    transition: transform .3s ease;
}

#key-1 {
    margin-left: 35px;
}

#key-2 {
    margin-left: 85px;
}

#key-3{
    margin-left: 185px;
}

#key-4 {
    margin-left: 235px;
}

#key-5 {
    margin-left: 285px;
}

/*Contacto*/

.contacto {
    background-color: #758E4F;
    border: 1px solid #000;
    border-radius: 10px;
    width: 85%;
    max-width: 900px;
    height: 550px;
    margin: 30px auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact--title {
    text-align: center;
    color: #F6AE2D;
    font-size: 2rem;
    margin: 0;
    text-shadow: 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.contact--subtitle {
    color: #FFFFFF;
    font-size: 1rem;
    width: 85%;
    align-self: center;
    text-align: center;
}

.contact--div {
    display: flex;
    justify-content: space-around;
}

.contact--img{
    height: 150px;
    align-self: center;
}

.contact--form {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 500px;
}

.contact--form label {
    margin-bottom: 10px;
    font-size: 1rem;
}

.contact--form input, textarea{
    margin-bottom: 25px;
    border: 1px solid #000;
    border-radius: 3.5px;
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;;
}

.contact--button {
    background-color: #F6AE2D;
    border: 1px solid #F6AE2D;
    border-radius: 8px;
    width: min-content;
    align-self: center;
    padding: 5px 10px;
}

.contact--button:hover {
    cursor: pointer;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.contact--button:active {
    background-color: #F26419; 
    border: 1px solid #F26419;
}

@media screen and (max-width: 800px) {
    .contact--img{
        display: none;
        
    }
    .contact--div {
        justify-content: center;
    }

    .contact--form{
        width: 80%;
    }
}