*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
   /*  min-height: 800px; */
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    margin: 20px;
    text-align: center;
    color: #F6AE2D;
    font-size: 2rem;
    text-shadow: 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}
.subtitle{
    color: white;
    text-align: center;
}

/*Piano*/

.video-tutorial{
    text-align: center;
    padding: 5%;
}
.video-tutorial h4{
    color: white;
    padding: 20px;
}
.piano-body {
    background-image: url('../../public/assets/img/instruments/Piano.jpg');
    background-size: cover;
}

.modo-horizontal {
    display: none;
}

.no-disponible {
    display: none;
}

.piano-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.piano {
    display: flex;
    margin: 20px auto;
    overflow: hidden;
    background-color: black;
    padding: 50px 20px 10px 20px;
    border-radius: 15px;
}

.escala1, .escala2 {
    display: flex;
    padding: 0;
}

.key {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}

.key:hover{
    cursor: pointer;
}
.key:active{
    background-color: #F6AE2D;
    transform: translateY(-5px) scaleY(1);
}
.key.playing {
    background-color: #F6AE2D;
  }
.white{
    width: 50px;
    height: 200px;
    background-color: #FFFFFF;
    border: 1px solid #000;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    transition: border .5s ease;
    color: #000000;
}

.black{
    width: 30px;
    height: 120px;
    background-color: #000000;
    border: 1px solid #000;
    border-radius: 0 0 5px 5px;
    position: absolute;
    cursor: pointer;
    color: #fff;
    transition: transform .3s ease;
}

#bk-1 {
    margin-left: 35px;
}

#bk-2 {
    margin-left: 85px;
}

#bk-3{
    margin-left: 185px;
}

#bk-4 {
    margin-left: 235px;
}

#bk-5 {
    margin-left: 285px;
}

@media screen and (min-width: 600px) and (max-width: 767px){
    
    .white{
        width: 40px;
        height: 170px;
        background-color: #FFFFFF;
        border: 1px solid #000;
        border-radius: 0 0 5px 5px;
        cursor: pointer;
        transition: border .5s ease;
        color: #000000;
    }
    
    .black{
        width: 26px;
        height: 100px;
        background-color: #000000;
        border: 1px solid #000;
        border-radius: 0 0 5px 5px;
        position: absolute;
        cursor: pointer;
        color: #fff;
        transition: transform .3s ease;
    }
    
    #bk-1 {
        margin-left: 27px;
    }
    
    #bk-2 {
        margin-left: 67px;
    }
    
    #bk-3{
        margin-left: 147px;
    }
    
    #bk-4 {
        margin-left: 187px;
    }
    
    #bk-5 {
        margin-left: 227px;
    }
}

@media screen and (max-width: 599px){
    .piano {
        flex-direction: column;
    }
}

@media screen and (min-width: 320px) and (max-width: 479px) and (orientation: portrait) {
    .piano, .instrucciones {
        display: none;
    }

    .modo-horizontal {
        display: unset;
        margin: auto;
    }
}

@media screen and (max-width: 319px) {
    .piano, .instrucciones {
        display: none;
    } 

    .no-disponible {
        display: unset;
    }
}

/*Contacto*/

.contacto {
    background-color: #758E4F;
    border: 1px solid #000;
    border-radius: 10px;
    width: 85%;
    max-width: 900px;
    height: 550px;
    margin: 30px auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact--title {
    text-align: center;
    color: #F6AE2D;
    font-size: 2rem;
    margin: 0;
    text-shadow: 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.contact--subtitle {
    color: #FFFFFF;
    font-size: 1rem;
    width: 85%;
    align-self: center;
    text-align: center;
}

.contact--div {
    display: flex;
    justify-content: space-around;
}

.contact--img{
    height: 150px;
    align-self: center;
}

.contact--form {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 500px;
}

.contact--form label {
    margin-bottom: 10px;
    font-size: 1rem;
}

.contact--form input, textarea{
    margin-bottom: 25px;
    border: 1px solid #000;
    border-radius: 3.5px;
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;;
}

.contact--button {
    background-color: #F6AE2D;
    border: 1px solid #F6AE2D;
    border-radius: 8px;
    width: min-content;
    align-self: center;
    padding: 5px 10px;
}

.contact--button:hover {
    cursor: pointer;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.contact--button:active {
    background-color: #F26419; 
    border: 1px solid #F26419;
}

@media screen and (max-width: 760px) {
    .contact--img{
        display: none;
        
    }
    .contact--div {
        justify-content: center;
    }

    .contact--form{
        width: 80%;
    }

    .contacto {
        background-color: #758E4F;
        border: 1px solid #000;
        border-radius: 10px;
        width: 85%;
        max-width: 900px;
        /* height: 550px; */
        margin: 30px auto;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .contact--title {
        text-align: center;
        color: #F6AE2D;
        font-size: 1.2em;
        margin: 0 0 5px 0;
        text-shadow: 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
    }

}

/*----------Página en construcción-------------------*/

.building{
    background-color: #33658A;
    display: flex;
    align-items: center;
    height: 82vh;
}
.description-contruccion{
    padding: 0;
    border: 0;
    text-align: left;
}
.male-building{
    max-width: 36%;
    margin-top: 3%;
    margin-left: 10%;
    padding: 0;
}
.page-construccion,
.page-justify{
    text-align: center;
    color: #F6AE2D;
    margin: 0;
    text-shadow: 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
    margin-top: 3%;
}
.page-construccion{
    font-size: 3rem;
    text-align: left;
}
.page-justify{
    font-size: 1rem;
    text-align: right;
    margin-top: 0;
}

/* Guitarra */

.fondoGuitarra {
    background-image: url(../../public/assets/img/instruments/Guitarra.jpg);
    background-size: cover;
}

/* Bateria */

.fondoBateria {
    background-image: url(../../public/assets/img/instruments/Bateria.jpg);
    background-size: cover;
}

/* Piano */

/* .fondoPiano {
    background-image: url(../../public/assets/img/instruments/Piano.jpg);
    background-size: cover;
} */

/* Violin */

.fondoViolin {
    background-image: url(../../public/assets/img/instruments/Violin.jpg);
    background-size: cover;
}



@media only screen and (max-width: 708px){
    .building{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 667px;
    }
    .page-construccion{
        font-size: 1.5rem;
        text-align: center;
        margin-top: 5%;
    }
    .page-justify{
        font-size: 0.8rem;
        text-align: center;
        margin-top: 5%;
    }
    .male-building{
       margin-top: 0;
       max-width: 70%;
       margin-bottom: 20%;
    }
    
}

/*----------Página en construcción-------------------*/

.building{
    background-color: #33658A;
    display: flex;
    align-items: center;
    height: 82vh;
}
.description-contruccion{
    padding: 0;
    border: 0;
    text-align: left;
}
.male-building{
    max-width: 36%;
    margin-top: 3%;
    margin-left: 10%;
    padding: 0;
}
.page-construccion,
.page-justify{
    text-align: center;
    color: #F6AE2D;
    margin: 0;
    text-shadow: 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
    margin-top: 3%;
}
.page-construccion{
    font-size: 3rem;
    text-align: left;
}
.page-justify{
    font-size: 1rem;
    text-align: right;
    margin-top: 0;
}

/* Guitarra */

.fondoGuitarra {
    background-image: url(../../public/assets/img/instruments/Guitarra.jpg);
    background-size: cover;
}

/* Bateria */

.fondoBateria {
    background-image: url(../../public/assets/img/instruments/Bateria.jpg);
    background-size: cover;
}

/* Piano */

/* .fondoPiano {
    background-image: url(../../public/assets/img/instruments/Piano.jpg);
    background-size: cover;
} */

/* Violin */

.fondoViolin {
    background-image: url(../../public/assets/img/instruments/Violin.jpg);
    background-size: cover;
}



@media only screen and (max-width: 708px){
    .building{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 667px;
    }
    .page-construccion{
        font-size: 1.5rem;
        text-align: center;
        margin-top: 5%;
    }
    .page-justify{
        font-size: 0.8rem;
        text-align: center;
        margin-top: 5%;
    }
    .male-building{
       margin-top: 0;
       max-width: 70%;
       margin-bottom: 20%;
    }
    
}